[flake8]
max-line-length = 120
ignore = E501, W293, W291, W292, E231, E302, E305, F401, F541, F811, F841, E402, E722, E128, E221, E225, E306, E401, E702, W391
exclude = 
    .git,
    __pycache__,
    docs,
    old,
    build,
    dist,
    .venv,
    venv,
    .eggs,
    *.egg,
    .tox,
    .mypy_cache,
    .pytest_cache,
    .coverage,
    htmlcov,
    .ipynb_checkpoints,
    notebooks
per-file-ignores =
    __init__.py:F401
    tests/*:F401,E402