# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.wheel

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm / VSCode
.idea/
.vscode/
*.code-workspace

# macOS
.DS_Store

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# local env
.env
.venv
venv/
ENV/
env/

# generated data and outputs
/data/*.csv
/data/*.parquet
/outputs/*

# OS files
Thumbs.db
